@tailwind base;
@tailwind components;
@tailwind utilities;

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px; /* Espacio a los lados */
  }
  
  .divider {
    width: 70%; /* Ancho del 70% */
    height: 2px;
    background-color: #ccc; /* Color de la línea divisoria */
    margin: 0 auto; /* Centrar horizontalmente */
  }
  

/* Estilo para el nombre del sidebar */
.nombre-sidebar {
  color: #333; /* Color del texto */
  font-size: 1.2rem; /* Tamaño de fuente */
  font-weight: bold; /* Peso de fuente */
}

/* Estilo para el título del sidebar */
.titulo-sidebar {
  color: #333; /* Color del texto */
  font-size: 1.125rem; /* 18px - Adjust the font size as needed */
  font-weight: 500; /* Medium font weight */
  font-family: 'Inter', sans-serif; /* Use the Inter font family */
  text-transform: capitalize; /* Capitalize the text */
  line-height: 1.375; /* Adjust the line height as needed */
  margin-bottom: 0.5rem; /* Add margin-bottom for spacing */
}


/* Estilo para la descripción del sidebar */
.descripcion-sidebar {
  color: #666; /* Color del texto */
  font-size: 1rem; /* Tamaño de fuente */
  font-weight: normal; /* Peso de fuente */
}

.text-titulo-about {
  /* Estilos para títulos en la barra lateral de About */
  color: #333; /* Cambia el color según tu preferencia */
  font-size: 0.9375rem; /* 15px - Adjust the font size as needed */
  font-weight: 400; /* Normal font weight */
  font-family: 'Inter', sans-serif; /* Use the Inter font family */
  text-transform: capitalize; /* Capitalize the text */
  line-height: 1.375; /* Adjust the line height as needed */
}

.text-descripcion-about {
  color: #7EB942; /* Cambia el color si lo necesitas */
  font-size: 0.9375rem; /* 15px - Ajusta el tamaño de fuente según sea necesario */
  font-weight: 400; /* Peso de fuente normal */
  font-family: 'Inter', sans-serif; /* Usa la familia de fuentes Inter */
  text-transform: capitalize; /* Capitaliza el texto */
  line-height: 1.375; /* Ajusta la altura de línea según sea necesario */
}

/* Estilos para el cuadro de diálogo */
.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-box {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dialog-title {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dialog-message {
  color: black;
  font-size: 16px;
  margin-bottom: 20px;
}

.dialog-button {
  background-color: #f0ad4e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
